<div class="row">
    <div class="col-12 col-md-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom  bg-info">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">User</a></li>
          <li class="breadcrumb-item active" aria-current="page"><span>Mahasiswa</span></li>
        </ol>
      </nav>
    </div>
  </div>
  <h3></h3>
  
  <div class="row">
    <!--Start table-->
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Daftar Mahasiswa Reguler A 2020</h4>
        </div>
          <div class="card-content">
          <div class="card-body">
            <div class="container mb-2">
              <div class="row row-cols-2 row-cols-lg-3">
                <div class="col-4 col-lg-2">
                </div>
                <div class="col-4 col-lg-2"></div>
                <div class="col-4 col-lg-2"></div>
                <div class="col-4 col-lg-2"></div>
                <div class="col">
                  <form class="search" method="POST" action="/mahasiswa">
                    <input
                      class="form-control me-2 boxSearch"
                      type="search"
                      name="nama"
                      placeholder="Search"
                      aria-label="Search"
                    />
                </div>
              </div>
            </div>
            </form>
            <!-- Table with outer spacing -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>No</td>
                    <td>NPM</td>
                    <td>NAMA</td>
                    <td>EMAIL</td>
                    <td>No HP</td>
                  </tr>
                </thead>
                <tbody>
                  <% if (mahasiswa < 1) { %>
                  <tr>
                    <td colspan="4">
                      <div class="alert alert-warning">Data masih kosong!!</div>
                    </td>
                  </tr>
                  <% } %> <% mahasiswa.forEach((mhs, i) => { i++ %>
                  <tr class="listSearch">
                    <td scope="row"><%= i++ %></td>
                    <td class="text-bold-500"><%= mhs.npm %></td>
                    <td class="text-bold-500"><%= mhs.nama %></td>
                    <td class="text-bold-500"><%= mhs.email %></td>
                    <td class="text-bold-500"><%= mhs.nohp %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $(document).ready(function($){
  
          $('.listSearch td').each(function(){
              $(this).attr('searchData', $(this).text().toLowerCase());
          });
          $('.boxSearch').on('keyup', function(){
          var dataList = $(this).val().toLowerCase();
              $('.listSearch td').each(function(){
                  if ($(this).filter('[searchData *= ' + dataList + ']').length > 0 || dataList.length < 1) {
                      $(this).show();
                  } else {
                      $(this).hide();
                  }
              });
          });
  
      });
  </script>