<div class="row">
  <div class="col-12 col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom bg-info">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>Matakuliah</span>
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xl-4">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-primary
        mb-3
      "
    >
      <div class="card-header">Teknik Informatika</div>
      <div class="card-body text-primary">
        <a href="/aljabar">
          <% aljabar.forEach(al => { %>
          <h5 class="card-title text-center"><%= al.matkul %></h5>
          <% }) %>
        </a>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-primary
        mb-3
      "
    >
      <div class="card-header">Teknik Informatika</div>
      <div class="card-body text-primary">
        <a href="/aljabar">
          <% tekdig.forEach(tek => { %>
          <h5 class="card-title text-center"><%= tek.matkul %></h5>
          <% }) %>
        </a>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-primary
        mb-3
      "
    >
      <div class="card-header">Teknik Informatika</div>
      <div class="card-body text-primary">
        <a href="/aljabar">
          <% matdis.forEach(mat => { %>
          <h5 class="card-title text-center"><%= mat.matkul %></h5>
          <% }) %>
        </a>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-primary
        mb-3
      "
    >
      <div class="card-header">Teknik Informatika</div>
      <div class="card-body text-primary">
        <a href="/aljabar">
          <% kalkulus.forEach(kal => { %>
          <h5 class="card-title text-center"><%= kal.matkul %></h5>
          <% }) %>
        </a>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-primary
        mb-3
      "
    >
      <div class="card-header">Teknik Informatika</div>
      <div class="card-body text-primary">
        <a href="/aljabar">
          <% std.forEach(st => { %>
          <h5 class="card-title text-center"><%= st.matkul %></h5>
          <% }) %>
        </a>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
